{% extends 'head.html' %}

{% block form %}


<div class="form-signin w-100 m-auto my-5 bg-dark p-5 " style="max-width: 330px;">

    {% if error %}

    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Oh snap!</strong>
        {{ error }}
    </div>
    {% endif %}
  <form action="" method="post">
    {% csrf_token %}

    <br>
    <div class="form-floating">
      <input type="text" class="form-control" placeholder="John doe" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <br>

    <div class="form-floating">
      <input type="password" class="form-control" placeholder="Password" name="new_password1">
      <label for="floatingPassword">Password</label>
    </div>

    <br>
    <div class="form-floating">
        <input type="password" class="form-control" placeholder="Confirm Password" name="new_password2">
        <label for="floatingPassword">Confirm Password</label>
    </div>
    <br>
    
    <button class="btn btn-secondary w-100 py-2" type="submit">Change</button>
  </form>
</div>

{% endblock  %}